#cloud-config
users:
  - name: silvestrini
    # mkpasswd -m sha-512 silvestrini
    passwd: "$6$2S7Cfi98fMpdSS7i$TbyJHuWHItoNc7gJ7dWug5ctGi9I3k7Ej2kbPibawG7d0PVoWcZXZWXYpM4lVygqep7ThX3vcD7IZCQaq3VRk/" 
    lock_passwd: False    
    gecos: "Marcos Silvestrini"
    groups: sudo
    shell: /bin/bash
    sudo: ALL=(ALL) NOPASSWD:ALL
    home: /home/silvestrini
    ssh_authorized_keys:
      - "ecdsa-sha2-nistp521 AAAAE2VjZHNhLXNoYTItbmlzdHA1MjEAAAAIbmlzdHA1MjEAAACFBAFXTn6ne9bCnJcmDSPZgql9HicNpukOv3fotZA+CgV0f0CK4Zoun4C6fcSh1esLmDGHMIxzjZ1ayDKXdtWKrX7YEQFGcw2DFHl1fsE88pQLE2Ppu4+NROVxl0TKdZvZxnpVEqLommJf4Z7EQyAd1gw1z+J9W+OuSDD8ME5feZ0gi1vhPA== vagrant@kubernetes"
  - name: teste
    lock_passwd: False
    # mkpasswd -m sha-512 teste
    passwd: "$6$Z9xHci5KUIxXFERU$bwGccat1G6GuFNuMPg7vcGwjBsAwW34Ve2bSi0F5pBUXyYm5H5S4RoB7U/ddmKS0UAgd0QNWs.LANKZoWv.NL0"
    ssh_authorized_keys:
      - "ecdsa-sha2-nistp521 AAAAE2VjZHNhLXNoYTItbmlzdHA1MjEAAAAIbmlzdHA1MjEAAACFBAFXTn6ne9bCnJcmDSPZgql9HicNpukOv3fotZA+CgV0f0CK4Zoun4C6fcSh1esLmDGHMIxzjZ1ayDKXdtWKrX7YEQFGcw2DFHl1fsE88pQLE2Ppu4+NROVxl0TKdZvZxnpVEqLommJf4Z7EQyAd1gw1z+J9W+OuSDD8ME5feZ0gi1vhPA== vagrant@kubernetes"    
    shell: /bin/bash
    home: /home/teste